@import url("header.css");
@import url("body.css");
@import url("login.css");
@import url("body_2.css");
@import url("journal.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
